// Định nghĩa mixin cho flex
@mixin flex {
    display: flex;
  }
  
  // Định nghĩa mixin cho căn chỉnh các phần tử con ở giữa trục chéo
  @mixin justify-center {
    justify-content: center;
  }
  
  // Định nghĩa mixin cho căn chỉnh các phần tử con ở giữa trục chính
  @mixin items-center {
    align-items: center;
  }
  


.home-1 {
    background-color: #b2c3d6;
    width: 100%;
    overflow: hidden;
}
.container-1 {
    padding: 10px;
 @include flex;
  @include justify-center;
  @include items-center;
}
.navbar-1{
  width: 100%;
}
.home-2 {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}