.login-container {
  border: 5px solid;
  border-image-slice: 1;
  border-radius: 10px;
  border-image-source: linear-gradient(to right bottom, #a299f8, #f05ea0);
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  background-color: #faf6f8;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 20px;
}

.text {
  font-weight: 600;
  padding-top: 3px;
}

input[type="text"] {
  padding: 12px 7px;
  outline: none;
  background: #1618230f;
  border: #18181c0f;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 100%;

  &:hover {
    background-color: #dedede;
  }
}

.input-pass {
  position: relative;

  i {
    position: absolute;
    top: 8px;
    right: 10px;
  }
}

input[type="password"] {
  padding: 12px 7px;
  outline: none;
  background: #1618230f;
  border: #1618230f;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 100%;

  &:hover {
    background-color: #dedede;
  }
}

button[disabled="disabled"],
button:disabled {
  cursor: not-allowed;
}

.link-btn {
  margin-top: 15px;
  padding: 10px;
  margin: 0 auto;
  text-decoration: none;
  color: black;
  font-style: italic;


  &:hover {
    font-weight: bolder;
    color: rgb(255, 0, 0);
  }
}

button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #1618230f;

  &.active {
    background-color: #fe2c55;
    color: white;
  }
}

.back {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;

  &.anticon svg {
    margin-top: 4px;
  }
}