// Định nghĩa mixin cho flex
@mixin flex {
    display: flex;
  }
// Định nghĩa mixin cho căn chỉnh các phần tử con về phía cuối container theo trục chéo (cross-axis)
@mixin justify-center {
    justify-content: center;
  }
  // Định nghĩa mixin cho thuộc tính flex-grow là 1
  @mixin flex-1 {
    flex-grow: 1;
  }

.container-1{
    width: 100%;
    margin-left: 100px;
    display: flex;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 124px;
    height: 40px;
}
.container-2{

    padding-top: 0.5rem;
    list-style: none;
    display: flex;
    @include flex;
    @include justify-center;
    @include flex-1;
    justify-items: center;
}
.container-3 {
  padding-top: 0.5rem;
  list-style: none;
  display: flex;
  @include flex;
  @include justify-center;
  @include flex-1;
  justify-items: center;
  overflow: hidden;
}
.keyNav-1{
    margin-top: 10px;
    margin-right: 40px;
    color: #ffffff;
}
.aNav-1{
  
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 26px;
}